# =========================
# Node.js
# =========================
node_modules

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build / runtime output
# =========================
dist
build
coverage


# =========================
# IDE / Editor
# =========================
.vscode/


# =========================
# Docker
# =========================


# =========================
# Testing
# =========================


# =========================
# Temporary / cache
# =========================



# =========================
# Misc
# =========================
*.local